.loginBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/bg_login.png");
  width: 100vw;
  height: 100vh;
}
.loginForm {
  display: flex;
  justify-content: center;
  padding-top: 30vh;
}
