.allAgb {
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 4%;
  margin-right: 5%;
}

.titleAgb {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 10%;
}

.contentAgb {
  margin-top: 2%;
}

p {
  margin-bottom: 1%;
  margin-top: 0.5%;
}

.contentHeadlineAgb {
  font-weight: 400;
  font-size: 2rem;
}
