.allAllergene {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
}

.titleAllergene {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2%;
}
.pictureAllergene {
  width: 85%;
  height: 85%;
  margin: auto;
}
