@import "../../styles/color.scss";

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listItem {
  list-style-type: none;
}
.navLinks {
  font-size: 3rem;
  text-decoration: none;
  color: $Green;
  font-weight: 600;
}
