@import "../../styles/color.scss";
.logOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $Green;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid $Green;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
}
