@import "../../styles/color.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $White;
  width: 30%;
  padding-bottom: 2%;
  height: 450px;
}
.allCard {
  margin-left: 5%;
}
.imageProduct {
  width: 100%;
  height: 80%;
  margin-left: 0%;
}
.text {
  padding-left: 10%;
}
.title {
  margin-top: 5%;
  font-size: 2rem;
  font-weight: 600;
  max-height: 100px;

  overflow: hidden;
}
.price {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.8rem;
  font-weight: 600;
}
.mwst {
  color: $Grey;
  font-size: 0.9rem;
  margin-bottom: 20%;
}
.jetztKaufen {
  color: white;
  background-color: $Green;
  padding: 5% 13% 5% 13%;
  border-radius: 80px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}
