@import "../../styles/color.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: $White;
  width: 250px;
  padding-bottom: 10%;
  height: 450px;
  max-height: 450px;
}
.allCard {
  margin-left: 5%;
  margin-right: 5%;
}
.imageProduct {
  width: 100%;
  height: 80%;
  margin-left: 0%;
  margin-bottom: 3%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  max-height: 50px;
  color: black;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
.price {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.8rem;
  font-weight: 600;
}
.mwst {
  color: $Grey;
  font-size: 0.9rem;
  margin-bottom: 20%;
}
.jetztKaufen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: $Green;
  padding: 5% 13% 5% 13%;
  border-radius: 80px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
}
