@import "../../styles/color.scss";

.titleWarenkorb {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 10%;
}
.allWarenkorb {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  margin-top: 4%;
  max-width: 1920px;
}

.leftWarenkorb {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bezeichnungWarenkorb {
  width: 500px;
}
.navigationWarenkorb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
.sumWarenkorb1 {
  margin-left: calc(1000px-580px);
}

.itemWarenkorb1 {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  border-bottom: 1px solid $Grey;
  white-space: nowrap;
  padding: 10px 15px 10px 15px;
  max-width: 1000px;
}
.buttonWarenkorbDisabled {
  color: white;
  background-color: $Grey;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  cursor: not-allowed;
}
.plusWarenkorb {
  cursor: pointer;
  color: $Green;
  padding-right: 10px;
}
.minusWarenkorb {
  cursor: pointer;
  color: $Green;
  padding-left: 10px;
}
.rightSideWarenkorb {
  margin-right: 10%;
}
.titleSumWarenkorb {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 5%;
}
.sumWarenkorb {
  color: $Green;
  font-size: 2.5rem;
  font-weight: 600;
}
.buttonWarenkorb {
  color: white;
  background-color: $Green;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  cursor: pointer;
}
.quantityWarenkorb {
  width: 190px;
}
.pickUpTimeWarenkorb {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  font-size: 1.1rem;
  line-height: 2.5rem;
}
input[type="time"] {
  outline: none;
  background-color: $White;
  border-bottom: 3px solid $Grey;
  border: none;
  padding: 5px 15px 5px 15px;
  font-size: 1.1rem;
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

input[type="time"]::-webkit-inner-spin-button {
  display: none;
}
input[type="time"]:invalid {
  border-bottom: 3px solid #ef0000;
  background-color: $White;
}
input[type="time"]:valid {
  border-bottom: 3px solid $Green;
  background-color: $White;
}

.agbWarenkorb {
  margin-top: 5%;
}
.orderWarenkorb {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-color: $Green;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
}
.textWarenkorb {
  color: $White;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}
.errorWarenkorb {
  color: #ef0000;
  padding-top: 5%;
  font-weight: 600;
  white-space: pre;
}
.nullItems {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $Green;
  font-weight: 600;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 1.6rem;
}
