@import "../../styles/color.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 20px;
  .logo {
    color: $Green;
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 50px;
  }
  .loginText {
    font-size: 1rem;
    padding-bottom: 50px;
    width: 80%;
    text-align: center;
  }
  .mcButton {
    display: flex;
    align-items: center;
    background-color: rgb(51, 48, 48);
    color: white;
    padding: 2% 10% 2% 10%;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .mcIcon {
    font-size: 2.5rem;
    padding-right: 2%;
  }
}
