@import "../../styles/color.scss";

.productView {
  display: flex;
  flex-direction: row;
  width: 20vw;
  margin-top: 10%;
}
.productPicture {
  width: 600px;
  height: 400px;
  margin-right: 20%;
  margin-left: 5%;
}
.productAllergenes {
  color: $Green;
  font-weight: 2rem;
}
.productTitle {
  font-size: 4rem;
  font-weight: 600;
}
.productTextBot {
  display: flex;
  flex-direction: row;
}
.productIngredients {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 25px;
  border-right: 2px solid $Grey;
}
.productDescription {
  padding-left: 25px;
}
.productText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.productIngredientsTitle {
  font-weight: 600;
}
