@import "../../styles/color.scss";
.adminAll {
  max-height: 750px;
  max-width: 1920px;
  margin-left: 5%;
  overflow: hidden;
}

.adminTitle {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 3%;
  margin-bottom: 5%;
}
.adminOrderName {
  font-weight: 600;
  padding-bottom: 1%;
  font-size: 1.5rem;
}
.adminOrder {
  display: grid;
  grid-template-columns: 50% 100px 100px 450px 2%;
  grid-template-rows: auto;
  margin-bottom: 2%;
}
.iconOrderChecked {
  margin-right: 15%;
  font-size: 2rem;
  cursor: pointer;
}
.iconOrderChecked1 {
  color: $Green;
  margin-right: 15%;
  font-size: 2rem;
}
.iconOrderNotChecked2 {
  font-size: 2rem;
}
.adminOrderName {
  grid-row: 1;
  grid-column: 1;
}
.adminNoOrders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -4%;
}
.adminTitleNoOrders {
  color: $Green;
  font-size: 2rem;
  margin-top: -3%;
  font-weight: 600;
}
.adminTitelQuantity {
  justify-self: center;
  font-weight: 600;
  grid-row: 1;
  grid-column: 2;
}
.iconOrderNotChecked {
  font-size: 2rem;
  color: red;
}
.adminTitelPrice {
  justify-self: center;
  font-weight: 600;
  grid-row: 1;
  grid-column: 3;
}
.adminTitelTime {
  justify-self: left;
  font-weight: 600;
  grid-row: 1;
  grid-column: 4;
}
.adminTitelReady {
  justify-self: left;
  font-weight: 600;
  grid-row: 1;
  grid-column: 5;
}
.adminOrderTime {
  justify-self: left;
  grid-area: 2 / col1-start / last-line / 4;
}
.adminArticleTitle {
  grid-row: auto;
  grid-column: 1;
}
.adminArticleQuantity {
  justify-self: center;
  grid-row: auto;
  grid-column: 2;
}
.adminArticlePrice {
  justify-self: center;
  grid-row: auto;
  grid-column: 3;
}
.adminOrderReady {
  justify-self: left;
  place-self: center stretch;
  grid-area: 5 / col1-start / last-line / 5;
}
