@import "../../styles/color.scss";

.menu {
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  position: fixed;
  margin-left: 5%;
  width: 90%;
}
.menuOpen {
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 79%;
  width: 100vw;
  background-color: white;
  z-index: 999999;
  margin-top: 6.4%;
}
.menuOpenTrue {
  left: 0px;
}
.menuOpenFalse {
  left: -110vw;
}
.profileActive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  right: 3%;
}
.profileActiveFalse {
  opacity: 0;
  top: 110px;
  display: none;
}
.profileActiveTrue {
  position: fixed;
  top: 120px;
  opacity: 1;
}
.menuPoint {
  color: $Green;
  list-style: none;
  font-size: 3rem;
  padding-right: 1.5%;
  cursor: pointer;
  text-decoration: none;
}
.menuPoint:first-child {
  font-size: 6rem;
  font-weight: 900;
  padding-right: 65%;
}
.menuPoint:last-child {
  margin-right: 5vw;
}
.arrowUp {
  font-size: 2rem;
  color: $Green;
  margin-right: 5.2%;
}
.allDiv {
  padding-bottom: 8%;
  max-width: 1920px;
}
.cart {
  color: $Green;
}
