@import "../../styles/color.scss";

.menu {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 90px;
}
.menuOpen {
  transition: all 2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 84vh;
  width: 100vw;
  background-color: white;
}
.menuOpenTrue {
  left: 0px;
}
.menuOpenFalse {
  left: -110vw;
}

.menuPoint {
  color: $Green;
  list-style: none;
  font-size: 3rem;
  margin-right: 2%;
}
.menuPoint:first-child {
  font-size: 6rem;
  font-weight: 900;
  margin-right: auto;
}

.cart {
  color: $Green;
}

@keyframes swingViewport {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(100);
  }
}
