@import "../../styles/color.scss";

.menu {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 90px;
}
.menuOpen {
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 75vh;
  width: 100vw;
  background-color: white;
}
.menuOpenTrue {
  left: 0px;
}
.menuOpenFalse {
  left: -110vw;
}
.profileActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in;
  right: 5.5vw;
  position: absolute;
  margin: -20px;
}
.profileActiveFalse {
  opacity: 0;
  top: 110px;
}
.profileActiveTrue {
  top: 120px;
  opacity: 1;
}
.menuPoint {
  color: $Green;
  list-style: none;
  font-size: 3rem;
  margin-right: 2%;
  cursor: pointer;
  text-decoration: none;
}
.menuPoint:first-child {
  font-size: 6rem;
  font-weight: 900;
  margin-right: auto;
}
.arrowUp {
  font-size: 2rem;
  color: $Green;
}

.cart {
  color: $Green;
}
