.salamibrot {
  margin-left: 5%;
  margin-right: 30px;
}

.titelBrot {
  margin-top: 3%;
  margin-left: 5%;
  font-weight: 600;
  font-size: 2.5rem;
}
.tomaten {
  margin-right: 30px;
}
.schinkenbrot {
  margin-right: 30px;
}
.käsebrot {
  margin-right: 30px;
}
.alleBrötle {
  display: flex;
  flex-direction: row;

  margin-top: 5%;
}
