.salamibrot {
  margin-left: 5%;
}

.titelBrot {
  margin-top: 3%;
  margin-left: 5%;
  font-weight: 600;
  font-size: 2.5rem;
}
.tomate {
}
.alleBrötle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}
