@import "../../styles/color.scss";

.allFooter {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0px;
  border-top: 1px solid $Grey;
  padding-top: 20px;
  width: 100%;
  bottom: 20px;
}
.copyK {
  color: $Green;
  margin-left: 40%;
  margin-right: 30%;
}

.item {
  color: $Green;
}
img {
  margin-left: 10px;
  height: 30px;
}
