@import "../../styles/color.scss";

.allFooter {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  left: 0px;
  border-top: 1px solid $Grey;
  padding-top: 20px;
  width: 100%;
  bottom: 0px;
  padding-bottom: 20px;
  z-index: 2;
  background-color: white;
}
.copyK {
  color: $Green;
  margin: 0px 15% 0px 15%;
}

.item {
  color: $Green;
}
img {
  margin-left: 10px;
  height: 30px;
}
