.allImpressum {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: 4%;
}

.titleImpressum {
  font-weight: 600;
  font-size: 3rem;
}

.contentImpressum {
  margin-top: 2%;
}

.boldImpressum {
  font-weight: 600;
}
