@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
}

.App {
  max-width: 1920px;
}
